{% extends "../molds/user.html" %} 
{% block head %}
<script src="/static/js/page/user/changePasswords.js"></script>
<script src="/static/js/component/inputHint.js"></script>
<script src="/static/js/component/md5.js"></script>
<style>
    .txt{
        border: solid 1px #ccc;
        line-height: 24px;
        width:220px;
        vertical-align: middle;
    }
    .txt:focus{
        border: solid 1px #666;
    }
    .checkResult{
        border: solid 1px #ccc;
        background: #F6F6F6;
        display:inline;
        padding: 2px 20px;
        display: none;
        color:#ff9900;
    }
    .tbList th{
    }
    .tbList td{
        height: 40px;
    }
    .pnlNoAudit{
        border: solid 1px #ccc;
        background: #F6F6F6;
        display:inline;
        padding: 2px 20px;
        color:#669900;
    }
</style>
{% end %} {% block body %}
<div>
	<table id="form" class="tbList tbHover" style="margin: 50px 0px 0px 50px;">
        <tr>
            <th style="width:100px;"><font style="color:red">*</font>原密码：</th>
            <td style="width:600px;">
            <input type="password" class="old txt">
            </td>
        </tr>
        <tr>
            <th><font style="color:red">*</font>新密码：</th>
            <td>
            <input type="password" class="new txt">
            </td>
        </tr>
        <tr>
            <th><font style="color:red">*</font>重复密码：</th>
            <td>
            <input type="password" class="passwords1 txt">
            </td>
        </tr>
    </table>
    <div style="text-align: center;padding-top: 48px;">
    <button id="btnSubmit" class="bigBtn">确 定</button>
    <button id="btnReturn" class="midBtn">返 回</button>
    </div>
	
	
	
</div>


{% end %} 