{% extends "../molds/blank.html" %}
{% block head %} 
<script src="/static/js/page/user/register.js"></script>
<script src="/static/js/component/inputHint.js"></script>
<script src="/static/js/component/md5.js"></script>
<style>
    .txt{
        border: solid 1px #ccc;
        line-height: 24px;
        width:220px;
        vertical-align: middle;
    }
    .txt:focus{
        border: solid 1px #666;
    }
    .checkResult{
        border: solid 1px #ccc;
        background: #F6F6F6;
        display:inline;
        padding: 2px 20px;
        display: none;
        color:#ff9900;
    }
    .tbList th{
    }
    .tbList td{
        height: 40px;
    }
    .pnlNoAudit{
        border: solid 1px #ccc;
        background: #F6F6F6;
        display:inline;
        padding: 2px 20px;
        color:#669900;
    }
</style>
{% end %} {% block body %}
    <div align="center">
        <div style="width:800px;text-align: right;font-size: 14px;">
        <a href="/feedback">意见反馈</a></div>
    </div>
	<div align="center" style="padding-top:40px;">
	<div  style="width: 800px; text-align: left; height: 520px; ">
    <div style="font-size: 18px;font-weight: bolder; font-style: italic;padding-left: 30px;">注册新用户</div>
	<div style="background: #fff; width: 100%; height: 540px; border: solid 1px #bbb;">

	<table id="form" class="tbList tbHover" style="margin: 40px 0px 0px 50px;">
		<tr>
			<th style="width:100px;"><font style="color:red">*</font>用户名：</th>
			<td style="width: 600px;">
			<input type="text" class="userName txt" maxlength="16">
			</td>
		</tr>
		<tr>
			<th><font style="color:red">*</font>密码：</th>
			<td>
			<input type="password" class="passwords txt">
			</td>
		</tr>
		<tr>
			<th><font style="color:red">*</font>重复密码：</th>
			<td>
			<input type="password" class="passwords1 txt">
			</td>
		</tr>
		<tr>
			<th><font style="color:red">*</font>姓名：</th>
			<td>
			<input type="text" class="realName txt">
			</td>
		</tr>
		<tr>
			<th><font style="color:red">*</font>邮箱：</th>
			<td>
			<input type="text" class="email txt">
			</td>
		</tr>
		<!-- <tr>
			<th><font style="color:red">*</font>验证码：</th>
			<td>
			<input type="text"  class="securityCode txt" style="width:48px;vertical-align: middle;"/>
                    <a title="点击刷新，不分大小写" href="javascript:void(0)"><img src="/file/securityCode?rg=1" border="0" id="securityCode" style="border:solid 1px #ccc;vertical-align: middle;"/></a>
			</td>
		</tr> -->
		<tr>
			<th>手机：</th>
			<td>
			<input type="text" class="mobile txt" maxlength="11">
			</td>
		</tr>
		<tr>
			<th>送餐地址：</th>
			<td>
			<input type="text" class="address txt" style="width:400px;">
			</td>
		</tr>
	</table>
    <div style="margin:6px 0px 0px 50px;">
        <div style="visibility:hidden;"  class="redBlock" id="pnlFail"><font style="font-family:icomoon;font-size:14px;">&#xe8ca;&nbsp;</font>
            <span class="text"></span></div>
    </div>	
	<div style="text-align: center;margin-top: 14px;">
	<button id="btnSubmit" class="bigBtn">注 册</button>
	<button id="btnReturn" class="midBtn">返 回</button>
	</div>
</div>
		</div>
	</div>
{% end %} 