{% extends "../molds/main.html" %} 
{% block head %}
<script src="/static/js/page/manage/menu.js"></script>
<style>
	#menuList{
		overflow:hidden;
		zoom:1;
		display:block;
	}
	.menuBlock{
        border:solid 1px #999;
        border-bottom:solid 1px #666;
        border-right:solid 1px #666;
		float:left;
		margin: 6px 14px;
		min-width:290px;
		min-height:155px;
		display:block;
	    -webkit-box-shadow:4px 3px 4px #999;
	    box-shadow: 4px 3px 4px #999;			
	}
	.menuBlock:hover {
		cursor:pointer;
		background: #F0F7FE;
	}
	.orderType{
		border:solid 1px #aaa;
		background:#ddd;
		text-align:center;
		float:left;
		font-size:28px;
		font-weight:bold;
		margin: 18px;
		min-width:260px;
		min-height:260px;
		line-height:260px;
		display:block;
	}
	.menuBlock .head{
		border-bottom:solid 1px #ddd;
		margin: 0px 6px;
		padding: 8px 8px;
	}
	.menuBlock .list{
		padding: 8px 8px;
		min-height:80px;
	}
</style>
{% end %} {% block body %}
<div id="noSelected" class="warningInfo" style="padding:14px 10px 14px 60px;"> 请选择要复制的菜单。</div>

<div class="block" id="pnlSelected" style="background:#efefef;display:none;line-height:40px;font-size:14px;padding-left:30px;margin:0px;">
      已选择<span id="countSelected"></span>个菜单&nbsp;&nbsp;<button id="btnSubmit" class="midBtn">开始复制</button>
</div>
<table cellpadding="0px" cellspacing="0px">
	<tr id="menuList">
		<td valign="top" style="width:33.3%"></td>
		<td valign="top" style="width:33.3%"></td>
		<td valign="top" style="width:33.3%"></td>
	</tr>
</table>

{% end %} 