{% extends "../molds/main.html" %} 
{% block head %}
<script src="/static/js/page/feedback/admin.js"></script>
<style>

</style>
{% end %} {% block body %}
<select id="ddlType">
	<option value="0">未回复</option>
	<option value="1">已回复</option>
</select>
<div id="pnlList">
<table class="tbList tbSelectable">
    <thead>
        <tr>
            <th style="min-width:60px;">日期</th>
            <th style="min-width:120px;">用户</th>
            <th style="min-width:120px;">内容</th>
            <th style="width:100px;">回复</th>
        </tr>
    </thead>
    <tbody id="tbUnReply"></tbody>
</table>
<table class="tbList tbSelectable" style="display:none;">
    <thead>
        <tr>
            <th style="min-width:60px;">日期</th>
            <th style="min-width:120px;">用户</th>
            <th style="min-width:120px;">内容</th>
            <th style="width:100px;">回复</th>
            <th style="width:80px;">回复时间</th>
        </tr>
    </thead>
    <tbody id="tbReplied"></tbody>
</table>
</div>
<div id="dlgReply" style="display: none; width: 480px; height: 220px;"
	buttons=".dlgButtons">
	<table class="tbForm">
		<tr><th>内容：</th><td><textarea class="message1" ></textarea></td></tr>
		<tr><th>回复：</th><td><textarea class="message2" ></textarea></td></tr>
	</table>
	<div class='dlgButtons'>
		<a class="easyui-component common cancel" componentType="linkbutton">取消</a>
		<a class="easyui-component common save" componentType="linkbutton">确认</a>
	</div>
</div>
{% end %} 